@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oxanium:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600&family=Winky+Rough:wght@900&display=swap');

:root {
  --color-blue: #007BFF;
  --color-blue-hover: #339CFF;
  --color-black: #050505;
  --color-white: #fafafa;
  --color-gray: #c9c9c9;
  --color-red: #CE1111;
  --color-cards: #151515;

  --font-p: 'figtree-light';
  --font-regular: 'figtree-regular';
  --font-h: 'figtree-bold';
}

body {
    background: linear-gradient(135deg, #101820 0%, #1a2233 40%, var(--color-blue) 80%, var(--color-blue-hover) 100%);
}
