:root {
  --color-blue: #007BFF;
  --color-blue-hover: #339CFF;
  --color-black: #050505;
  --color-white: #fafafa;
  --color-gray: #c9c9c9;
  --color-red: #CE1111;
  --color-cards: #151515;

  --font-p: 'figtree-light';
  --font-regular: 'figtree-regular';
  --font-h: 'figtree-bold';

  --f0: clamp(0.6rem, 1vw, 0.8rem);
  --f1: clamp(0.8rem, 1vw, 1rem);
  --f2: clamp(1rem, 1vw, 1.2rem);
  --f3: clamp(1.2rem, 1vw, 1.5rem);
  --f4: clamp(1.5rem, 1vw, 2rem);
  --f5: clamp(2rem, 1vw, 2.5rem);
  --f6: clamp(2.5rem, 1vw, 3.5rem);
  --f7: clamp(3.5rem, 1vw, 5.5rem);
}

body {
    background-color: var(--color-black);
}
